PRIVATE_KEY=
AMOY_RPC_URL=https://polygon-amoy.drpc.org
POLYGON_RPC_URL=https://polygon.drpc.org
SCORE_AUDIT_CONTRACT_ADDRESS=
AMOY_EXPLORER_BASE_URL=https://amoy.polygonscan.com
POLYGON_EXPLORER_BASE_URL=https://polygonscan.com
