PRIVATE_KEY=
ISSUER_ADDRESS=
SCORE_EVENT_FILE=
USER_SALT=
SCORE_PERIOD=
AMOY_RPC_URL=https://polygon-amoy.drpc.org
POLYGON_RPC_URL=https://polygon.drpc.org
SCORE_AUDIT_V2_CONTRACT_ADDRESS=0x8621D09F08C2f58803e7239F8D46D444e0eF63e1
V2_DAILY_ISSUER_LIMIT=1000
V2_ADMIN_ACTION=
NEW_OWNER_ADDRESS=
AMOY_EXPLORER_BASE_URL=https://amoy.polygonscan.com
POLYGON_EXPLORER_BASE_URL=https://polygonscan.com
